<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rehab_arm_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rehab_arm_robot urdf file -->
    <xacro:include filename="$(find rehab_arm_robot)/urdf/rehab_arm_robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="rehab_arm_robot.ros2_control.xacro" />

    <!-- <xacro:rehab_arm_robot_ros2_control name="RehabArmRobotSystem" initial_positions_file="$(find rehab_arm_robot_moveit_config)/config/initial_positions.yaml"/> -->
    <xacro:rehab_arm_robot_ros2_control name="RehabArmRobotSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
